# (1-2) FRED에서 API로 경제데이터 가져오기

In [1]:
pip install fredapi

Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in c:\users\user\lib\site-packages (from fredapi) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\lib\site-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\lib\site-packages (from pandas->fredapi) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\lib\site-packages (from pandas->fredapi) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\user\lib\site-packages (from python-dateutil>=2.8.1->pandas->fredapi) (1.16.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# API 발급을 위해서 회원가입해야함!

In [3]:
from fredapi import Fred
fred = Fred(api_key='f82b8a1e8bf587befa43650f57341dc7')
data = fred.get_series('GDP')

In [4]:
data = fred.get_series_first_release('GDP')
data.tail()

date
2021-01-01    22048.894
2021-04-01    22722.581
2021-07-01    23173.496
2021-10-01    23992.355
2022-01-01    24382.683
Name: value, dtype: object

In [5]:
data = fred.get_series_latest_release('GDP')
data.tail()

2021-01-01    22038.226
2021-04-01    22740.959
2021-07-01    23202.344
2021-10-01    24002.815
2022-01-01    24382.683
dtype: float64

In [6]:
fred.get_series_as_of_date('GDP', '6/1/2019')

     realtime_start       date      value
0        1992-12-22 1946-01-01      199.7
1        1996-01-19 1946-01-01        NaT
2        1997-05-07 1946-01-01      210.4
3        1999-10-28 1946-01-01        NaT
4        1992-12-22 1946-04-01      207.7
...             ...        ...        ...
3011     2018-12-21 2018-07-01  20658.204
3015     2019-02-28 2018-10-01  20891.367
3016     2019-03-28 2018-10-01   20865.14
3020     2019-04-26 2019-01-01  21062.691
3021     2019-05-30 2019-01-01  21048.839

[2906 rows x 3 columns]

In [7]:
df = fred.get_series_all_releases('GDP')
df.tail()

     realtime_start       date      value
3067     2021-12-22 2021-07-01  23202.344
3068     2022-01-27 2021-10-01  23992.355
3069     2022-02-24 2021-10-01  24008.472
3070     2022-03-30 2021-10-01  24002.815
3071     2022-04-28 2022-01-01  24382.683

In [8]:
from fredapi import Fred
fred = Fred(api_key='f82b8a1e8bf587befa43650f57341dc7')
data = fred.get_series('DGS10') # 미 국채 10년물 금리

In [9]:
data = fred.get_series_first_release('DGS10')
data.tail()

date
2022-05-03    2.97
2022-05-04    2.93
2022-05-05    3.05
2022-05-06    3.12
2022-05-09    3.05
Name: value, dtype: object